<header id="_header_mini">
  <nav class="navbar fixed-top navbar-dark bg-primary">
    <a class="navbar-brand" href="/" style=" font-family: 'Fugaz One', cursive; text-shadow: 3px 3px 5px rgba(0,0,0,0.2); transform: rotate(-5deg)"><h1>TinyApp</h1></a>
  </nav>
</header>
