<header>
  <nav class="navbar fixed-top navbar-dark bg-primary">
    <a class="navbar-brand" href="/" style="font-family: 'Fugaz One', cursive;"><h1>TinyApp</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</header>
