<!DOCTYPE html>
<html lang="en">
  <head id="_head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <title>TinyApp</title>
    <script>
      const logout = function(){
        document.cookies = "tinyapp-session=; SameSite=None; expires=Thu, 01 Jan 1970 00:00:00 UTC; domain=localhost; path=/;";
        window.location.reload();
      }
    </script>
  </head>
  <body>
