<!DOCTYPE html>
<html lang="en">
  <head id="_head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <title>TinyApp</title>
    <script>
      const logout = function(){
        document.cookies = "tinyapp-session=; SameSite=None; expires=Thu, 01 Jan 1970 00:00:00 UTC; domain=localhost; path=/;";
        window.location.reload();
      }

      const deleteUrl = function(event){
        const shortUrl = event.target.dataset.id;
        fetch(`/urls/${shortUrl}/delete`, {
          method: 'POST',
          redirect: 'follow',
          headers: {
            'Content-Type' : 'application/json'
          },
          mode: 'same-origin',
          SameSite: 'true',
          referrerPolicy: 'no-referrer',
          body: JSON.stringify({
            short_url: shortUrl,
          })
        }).then((response)=>{
          window.location.href = '/urls'
        });
      }

      const createNewUrl = function(){
        const longUrl = document.getElementById("url_longurl");
        fetch('/urls', {
          method: 'POST',
          redirect: 'follow',
          headers: {
            'Content-Type' : 'application/json'
          },
          mode: 'same-origin',
          SameSite: 'true',
          referrerPolicy: 'no-referrer',
          body: JSON.stringify({
            longUrl: longUrl.value,
          })
        }).then((response)=>{
          window.location.href = '/urls'
        });
      }

      const updateUrl = function(){
        const shortUrl = document.getElementById("urlshow_shorturl");
        fetch(`/urls/${shortUrl}`, {
          method: 'POST',
          redirect: 'follow',
          headers: {
            'Content-Type' : 'application/json'
          },
          mode: 'same-origin',
          SameSite: 'true',
          referrerPolicy: 'no-referrer',
          body: JSON.stringify({
            short_url: shortUrl.value,
          })
        }).then((response)=>{
          window.location.href = '/urls'
        });
      }

      const registerUser = function(event){
        const emailField = document.getElementById("register_email");
        const passwordField = document.getElementById("register_password");
        const passwordConfirmationField = document.getElementById("register_password_confirmation");
        fetch('/register', {
          method: 'POST',
          redirect: 'follow',
          headers: {
            'Content-Type' : 'application/json'
          },
          mode: 'same-origin',
          SameSite: 'true',
          referrerPolicy: 'no-referrer',
          body: JSON.stringify({
            email: emailField.value,
            password: passwordField.value,
            password_confirmation: passwordConfirmationField.value
          }),
        }).then((response) => {
          window.location.href = '/urls'
        });
      };

      const loginUser = function(event){
        const emailField = document.getElementById("login_email");
        const passwordField = document.getElementById("login_password");
        fetch('/login', {
          method: 'POST',
          redirect: 'follow',
          headers: {
            'Content-Type' : 'application/json'
          },
          SameSite: 'true',
          mode: 'same-origin',
          referrerPolicy: 'no-referrer',
          body: JSON.stringify({
            email: emailField.value,
            password: passwordField.value,
          }),
        }).then((response) => {
          window.location.href = '/urls'
        });
      };
    </script>
  </head>
  <body>
