<script>

  const logout = function(){
    document.cookie = "id=; SameSite=Secure; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    window.location.reload();
  }

</script>

<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand my-4 mr-5" href="/" style="font-family: 'Fugaz One', cursive;"><h1>TinyApp</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <div>
      
      <form class="form-inline" action="/login" method="POST">
        <!-- Login Icon-->
        <label class="form-label text-light mr-2">
          <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
          </svg>
          <a href="/urls" class="text-light link-light"><%= email || "" %></a>
        </label>
        
        <% if(username) { %>
          <button class="btn btn-warning text-primary ml-2" type="button" onclick="logout()">Logout</button>
        <% }else{ %> 
          <input class="form-control" type="text" name="username" placeholder="Username">
          <button class="btn btn-warning text-primary ml-2" type="submit">Login</button>
        <% } %>
         
      </form>
    </div>
  </nav>
</header>
