<%- include('./partials/_head.ejs') %>

<main>
  <div class="container d-flex justify-content-center align-items-center" style="height: 100vh">
    <div class="row">
      <div class="col d-flex flex-column align-items-center">
        <div class="col d-flex flex-column align-items-center bg-primary text-light py-3 context-card">
          <div style="height: 100px"></div>
          <h1 id="title" class="position-absolute text-center px-4 title title-animated" style="top: 50px; line-height: 0em;"><%= title %></h1>
          <h2 id="message" class="position-absolute text-center px-4 mt-4 subtitle" style="top: 75px; line-height: 0em;"><%= message %></h2>
          <a class="btn btn-warning text-primary mt-2" href="/" role="button">Back</a>  
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('./partials/_footer.ejs') %>