<%- include('./partials/_head.ejs') %>
<%- include('./partials/_social_media.ejs', { loggedIn : loggedIn, username : username }) %>

<main>
  <div class="container d-flex justify-content-center align-items-center" style="height: 100vh">
    <div class="row">
      <div class="col d-flex flex-column align-items-center">
        <div class="col d-flex flex-column align-items-center bg-primary text-light py-3" style="width: 500px; border-radius: 75px 75px 0px 0px; ">
          <div style="height: 75px"></div>
          <h1 id="title" class="position-absolute text-center px-4 title title-animated">TinyApp</h1>
          <h4 class="mb-3 subtitle" >The Tiny URL Shortener</h4>
          <row>
            <% if(loggedIn) { %> 
            <form class="form-inline">
              <input class="form-control" id="url_longurl" type="text" name="longURL" placeholder="http://" style="border: none; border-radius: 0px;" autofocus>
              <button class="btn btn-outline-primary text-light my-2" type="button" onClick="createNewUrl()">GO</button>
            </form>
            <% }else{ %>
              <a class="btn btn-warning text-primary mb-2" href="/login" role="button">Login</a>
              <a class="btn btn-warning text-primary mb-2" href="/register" role="button">Register</a>
              <p class="mb-0"><small><a href="/privacy" class="text-light">-> Read the privacy policy</a></small></p>
            <%  } %>
          </row>
        </div>
        <div class="position-absolute text-right text-primary quip"><i>it's so tiny!</i></div>
      </div>
    </div>
  </div>
</main>

<%- include('./partials/_footer.ejs') %>

