<%- include('./partials/_head.ejs') %>

<main>

  <%- include('partials/_alert.ejs', {success: success, message: message }) %>

  <div class="container d-flex justify-content-center align-items-center" style="height: 100vh">
    <div class="row">
      <div class="col d-flex flex-column align-items-center"> 
        <div class="col d-flex flex-column align-items-center bg-primary text-light py-3 context-card">
          <div style="height: 75px"></div>
          <h1 id="title" class="position-absolute text-center px-4 title title-animated">Login!</h1>
          <row>
            <form class="form" id="loginForm">
              <div class="input-group mb-2">
                <input class="form-control" id="login_email" type="email" name="email" placeholder="email">
              </div>
              <div class="input-group">
                <input class="form-control" id="login_password" type="password" name="password" placeholder="password">
              </div>
              <button class="btn btn-warning text-primary my-2" type="button" onClick="loginUser(event)">Login</button>
            </form>
            <p class="mb-0"><small><a href="/register" class="text-light">Register</a></small></p>
            <p class="mb-0"><small><a href="/privacy" class="text-light">-> Read the privacy policy</a></small></p>
          </row>
        </div>
        <div class="position-absolute text-right text-primary quip"><i>it's just what you do!</i></div>
      </div>
    </div>
  </div>
</main>

<%- include('./partials/_footer.ejs') %>

