<!DOCTYPE html>
<html lang="en">

<%- include('./partials/_head.ejs') %>

    <style>
      h1 {

        animation-timing-function: ease-in;
        animation: textZoom 1s infinite;

      }

      .contextCard{
        width: 500px; 
        border-radius: 75px 75px 0px 0px; 
        box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
      }

      @keyframes textZoom {
        0% {
          transform: rotate(-1deg);
        }

        50% {
          transform: rotate(1deg);
        }

        100% {
          transform: rotate(-1deg);
        }
      }

      #fadeAlert {
        animation: cssAnimation 5s ease-in;
      }

      @keyframes cssAnimation {
        0% {
          display: inline-block;
          opacity: 1.0;
        }

        50% {
          opacity: 0.5;
        }

        100% {
          opacity: 0;
          display: none;
        }
      }
    </style>

    <body>
      <main>

        <div class="container d-flex justify-content-center align-items-center" style="height: 100vh">
          <div class="row">
            <div class="col d-flex flex-column align-items-center">

              <div class="col d-flex flex-column align-items-center bg-primary text-light py-3 contextCard">
                <div style="height: 75px"></div>
                <h1 id="title" class="position-absolute text-center px-4"
                  style="top: 50px; line-height: 0px;font-size: 3em; font-family: 'Fugaz One', cursive; text-shadow: 3px 3px 5px rgba(0,0,0,0.2) ;">
                  Register!</h1>
                <row>
                  <form class="form" action="/register" method="POST">
                    <div class="input-group mb-2">
                      <input class="form-control" type="email" name="email" placeholder="email"
                        style="border: none; border-radius: 0px;">
                    </div>
                    <div class="input-group mb-2">
                      <input class="form-control" type="username" name="username" placeholder="username"
                        style="border: none; border-radius: 0px;">
                    </div>
                    <div class="input-group">
                      <input class="form-control" type="password" name="password" placeholder="password"
                        style="border: none; border-radius: 0px;">
                    </div>
                    <p class="my-0"><small>By registering, you automatically agree to the privacy policy</small></p>
                    <p class="mb-2"><small><a href="/privacy" class="text-light">-> Read the privacy policy</a></small></p>
                    <button class="btn btn-warning text-primary" action="submit">Register</button>
                  </form>
                </row>
              </div>
              <div class="position-absolute text-right text-primary"
                style="bottom: -1.5em; right: 20px; font-size: 15px;"><i>how else will you log in?</i></div>
            </div>

          </div>
        </div>

      </main>
      <!-- Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    </body>

</html>