<%- include('./partials/_head.ejs') %>

<main>

  <%- include('partials/_alert.ejs', {success: success, message: message }) %>

  <div class="container d-flex justify-content-center align-items-center" style="height: 100vh">
    <div class="row">
      <div class="col d-flex flex-column align-items-center">
        <div class="col d-flex flex-column align-items-center bg-primary text-light py-3 context-card">
          <div style="height: 75px"></div>
          <h1 id="title" class="position-absolute text-center px-4 title title-animated">Register!</h1>
          <row>
            <form class="form" action="/register" method="POST">
              <div class="input-group mb-2">
                <input class="form-control" type="email" name="email" placeholder="email">
              </div>
              <div class="input-group mb-2">
                <input class="form-control" type="username" name="username" placeholder="username">
              </div>
              <div class="input-group">
                <input class="form-control" type="password" name="password" placeholder="password">
              </div>
              <p class="my-0"><small>By registering, you automatically agree to the privacy policy</small></p>
              <p class="mb-2"><small><a href="/privacy" class="text-light">-> Read the privacy policy</a></small></p>
              <button class="btn btn-warning text-primary" action="submit">Register</button>
            </form>
          </row>
        </div>
        <div class="position-absolute text-right text-primary quip"><i>how else will we collect your data?</i></div>
      </div>
    </div>
  </div>
</main>