<%- include('partials/_head.ejs') %>

<%- include('partials/_header.ejs', { username : username, email : email }) %>

<main style="margin: 1em;">
  <h3>Create TinyURL</h3>
  <form class="form-inline" id="url_form">
    <div class="form-group mb-2">
      <label for="longURL">Enter a URL:</label>
      <input class="form-control" id="url_longurl" type="text" name="longURL" placeholder="http://" value="http://" style="width: 300px; margin: 1em">
      <button type="button" class="btn btn-primary" onClick="createNewUrl()">Submit</button>
    </div>
  </form>
</main>

<%- include('./partials/_footer.ejs') %>
